[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==18.9b0"
flake8 = "*"
pre-commit = "*"

[packages]
flask = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"

[scripts]
dev = "flask run"
init-db = "flask init-db"
